/* font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* other css file import */
@import url(./sections/navber.css);
@import url(./sections/hero.css);
@import url(./sections/about.css);
@import url(./sections/showcase.css);
@import url(./sections/contact.css);
@import url(./sections/footer.css);


/* defult style remove */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root {
    /* fonts */
    --font-family: 'Poppins', sans-serif;
    
    /* colors */
    --primary-color: ;
    --secondary-color: ;
    --background-color: ;
    --text-color: ;
    --link-color: ;
    --hover-color: ;
    /* shadow */

    /* spacing */
    --small-size: 16px;
}

ul,
ol {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}