/* font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* other css file import */
@import url(./sections/navbar.css);
@import url(./sections/hero.css);
@import url(./sections/about.css);
@import url(./sections/showcase.css);
@import url(./sections/contact.css);
@import url(./sections/footer.css);


/* defult style remove */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root {
    /* fonts */
    --primary-font: 'Roboto Slab', serif;
    --secondary-font: 'Poppins', sans-serif;

    /* colors */
    --background-color: #002023;
    /* --primary-color: ;
    --secondary-color: ;
    --text-color: ;
    --link-color: ;
    --hover-color: ; */
    /* shadow */

    /* spacing */
    --small-size: 16px;
}

body {
    font-family: var(--primary-font);
}

ul,
ol {
    list-style: none;
}

li {
    text-decoration: none;

}

a {
    text-decoration: none;
    color: inherit;
}

