.navbar {
    background-color: var(--background-color);
}

.navbar__container {
    margin: 0 auto;
    width: 60%;
}

.navbar__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: white;
    gap: 35px;
    height: 140px;
    font-weight: 500;
}

.navbar__item:hover {
    text-decoration: underline;
    color: #02aa94;
    transition: all .4s linear;
}